################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MS/.vs/MS/v16
/MS/src/Sky.Ms.WebApi/bin/Debug/net5.0
/MS/src/Sky.Ms.WebApi/obj
